[submodule ".modules/searchpe"]
	path = .modules/searchpe
	url = https://github.com/carlosthe19916/searchpe.git
[submodule ".modules/pulp-2-ui"]
	path = .modules/pulp-2-ui
	url = https://github.com/pulp/pulp-ui-2.git
[submodule ".modules/trustify-ui"]
	path = .modules/trustify-ui
	url = https://github.com/guacsec/trustify-ui.git
[submodule ".modules/tackle2-ui"]
	path = .modules/tackle2-ui
	url = https://github.com/konveyor/tackle2-ui.git
[submodule ".modules/camel-quarkus"]
	path = .modules/camel-quarkus
	url = https://github.com/apache/camel-quarkus.git
[submodule ".modules/openubl"]
	path = .modules/openubl
	url = https://github.com/project-openubl/openubl.git
[submodule ".modules/camel"]
	path = .modules/camel
	url = https://github.com/apache/camel.git
